<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    
       <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <!--<add name="RehabEntities_" connectionString="metadata=res://*/Rehab.csdl|res://*/Rehab.ssdl|res://*/Rehab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-813U0KE\SQLEXPRESS;initial catalog=TR_TEST_DirectTrust;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
     <add name="RehabEntities" connectionString="metadata=res://*/Rehab.csdl|res://*/Rehab.ssdl|res://*/Rehab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=teamrehab.database.windows.net;initial catalog=TR_TEST_DirectTrust;user id=hirakant;password=4gotP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="RehabEntities" connectionString="metadata=res://*/Rehab.csdl|res://*/Rehab.ssdl|res://*/Rehab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-813U0KE\SQLEXPRESS;initial catalog=Team_Rehab;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RehabEntities" connectionString="metadata=res://*/Rehab.csdl|res://*/Rehab.ssdl|res://*/Rehab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=teamrehabstaging.database.windows.net;initial catalog=Team_Rehab;user id=stageadmin;password=***********;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RehabEntities" connectionString="metadata=res://*/Rehab.csdl|res://*/Rehab.ssdl|res://*/Rehab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=teamrehabstaging.database.windows.net;initial catalog=Team_Rehab;user id=stageadmin;password=4gotP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   <!--<add name="RehabEntities" connectionString="dummy" providerName="System.Data.EntityClient" />-->
    <!--DEV-->
    <!--<add name="RehabEntities" connectionString="metadata=res://*/Rehab.csdl|res://*/Rehab.ssdl|res://*/Rehab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=teamrehabsandbox.database.windows.net;initial catalog=TR_Stage_Oct19;user id=teamsbadmin;password=SandBoxAdmin!01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
     <!--<add name="RehabEntities" connectionString="metadata=res://*/Rehab.csdl|res://*/Rehab.ssdl|res://*/Rehab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.13.14.8;initial catalog=TR_TEST_DirectTrust;user id=dtuser;password=4gotP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   
    <!--Prod-->
    <!--<add name="RehabEntities" connectionString="metadata=res://*/Rehab.csdl|res://*/Rehab.ssdl|res://*/Rehab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=teamrehabprod.database.windows.net;initial catalog=Team_Rehab;user id=teamadmin;password=4gotP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    
    
    <!--<add name="RehabEntities" connectionString="" providerName="System.Data.EntityClient" />-->

  <!--Dev on Azure-->
  <!--metadata=res://*/Rehab.csdl|res://*/Rehab.ssdl|res://*/Rehab.msl;provider=System.Data.SqlClient;provider connection string='data source=teamrehabsandbox.database.windows.net,1433;initial catalog=TR_API;user id=teamsbadmin;password=SandBoxAdmin!01;MultipleActiveResultSets=True;App=EntityFramework'-->
     <!--Prod on Azure-->    
<!--metadata=res://*/Rehab.csdl|res://*/Rehab.ssdl|res://*/Rehab.msl;provider=System.Data.SqlClient;provider connection string='data source=teamrehabprod.database.windows.net,1433;initial catalog=Team_Rehab;user id=teamadmin;password=4gotP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework'-->
  
  
    </connectionStrings>
  <appSettings>
    <add key="IPBlockAttempt" value="5" />
    <!-- IPBlockedTime is in minutes-->
    <add key="IPBlockedTime" value="2" />
    <add key="TokenExpireTime" value="30" />
    <add key="RefreshTokenExpireTime" value="1440" />
    <add key="NetworkUserName" value="shukraj.khadse@hotmail.com" />
    <add key="DirectTrustImportPDFPath" value="C:\Projects\DTImportPDF\" />
    <add key="NetworkPassword" value="" />
    <add key="LogPath" value="\\easydoctest.file.core.windows.net\logs" />
    <add key="LogPathNetworkUserName" value="easydoctest" />
    <add key="LogPathNetworkPassword" value="pshRMCpeCqwvrMu6T5tWfeqCJZAK6RIDF8tZrY45FB3cIa8hFem8fm7oXRWNaR5ahvm1WR4h8iw4xptpC4Zt+g==" />
     <add key="StoregConn" value="DefaultEndpointsProtocol=https;AccountName=easydoctest;AccountKey=pshRMCpeCqwvrMu6T5tWfeqCJZAK6RIDF8tZrY45FB3cIa8hFem8fm7oXRWNaR5ahvm1WR4h8iw4xptpC4Zt+g==;EndpointSuffix=core.windows.net" />
      <add key="logopath" value="TempImageFiles"/>
    <add key="reportpath" value="\\easydoctest.file.core.windows.net\appdatafiles\Report\" />
    <add key="ReportServer" value="http://teamsqlsvc01/ReportServer_PRDSSRS" />
    <add key="folderpath" value="appdatafiles\EasyDoc" />
    <add key="postpath" value="\\easydoctest.file.core.windows.net\appdatafiles\E-Post\" />
     <add key="SMTPEmail" value="noreply@team-rehab.com" />
     <add key="SMTPPassword" value="vienvnwfdnatcstd" />
    <!--<add key="reportpath" value="C:\EasyDoc\"/>
    <add key="folderpath" value="C:\EasyDoc\"/>
    <add key="postpath" value="C:\EasyDoc\"/>
    <add key="FilePath" value="C:\EasyDoc\"/>-->
    <add key="ClientId" value="ngAuthApp" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/APILog/${date:format=yyyy-MM-dd}-api.log" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="Api Services" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
    </rules>
  </nlog>
</configuration>
